<!DOCTYPE html>
<html ng-app="verodinApp">
<meta name="viewport" content="width=device-width">
<head>
	<title>Verodin Challenge</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/app.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
	<script type="text/javascript" src="js/ui-bootstrap-tpls-1.3.2.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="VerodinCtrl">
<p class="header">Verodin Challenge</p>
<div class="content-area">

	<div id="workers">
		<div id="running">
			<p class="section">
			Running Workers
			</p>
			<table>
				<tr>
					<td class="left">ID</td>
					<td>IP Address</td>
					<td>Region</td>
					<td>State</td>
					<td>W2CC</td>
					<td>CC2W</td>
					<td>Actions</td>
				</tr>
				<tr ng-repeat="worker in runningWorkers">
					<td class="left">{{worker.awsID}}</td>
					<td>{{worker.ip}}</td>
					<td>{{worker.region_human}}</td>
					<td>{{worker.state}}</td>
					<td>{{worker.w2cc}}</td>
					<td>{{worker.cc2w}}</td>
					<td><a href="#" ng-click="stopWorker(worker.region, worker.awsID)">stop</a></td>
				</tr>
			</table>
			<p class="instructions">
				Once running it can take
				several minutes to configure the
				node for operation.
			</p>
		</div>
		<div id="start-new">
			Start New Worker:
			 <div class="btn-group" uib-dropdown is-open="status.isopen">
				<button id="region" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        			{{selectedRegion[1]}} <span class="caret"></span>
				</button>
      			<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="region">
			        <li role="menuitem" ng-repeat="name in regions"><a href="#" ng-click="setRegion($index)">{{name[1]}}</a></li>
		      </ul>&nbsp;
			</div>
		      <button class="btn btn-primary" ng-click="startWorker()">Start</button>
		</div>
	</div>

	<div id="work">
		<div id="add-urls">
			<p class="section">Add Urls</p>
			<p class="instructions">Add urls to be processed.
			Each URL should be on a seperate line and be complete
			(e.g. http://example.com/foo?bar=5)
			</p>
			<textarea id="addurls" ng-model="newUrls">
			</textarea id="url-input">
			<p>
				<button class="btn btn-primary" ng-click="addUrls()">Submit</button>
			</p>
		</div>
	</div>
	<div id="queue">
		<p class="section">Queue</p>

		URLs to Process: {{work.cnt}}<br>
		Processed URLs: {{work.done}}

		<div class="queueList">
			<p>Next 20 Jobs:</p>
			<div class="jobs">
				<ul class="unstyled">
					<li ng-repeat="job in work.jobs">{{job.url}}</li>
					<li ng-show="!work.jobs.length">No URLs in queue.</li>
				</ul>
			</div>
			<button class="btn btn-primary" ng-click="clearQueue()">Clear Queue</button>
		</div>
		<p class="instructions">
			URLs that cannot be processed will be returned to
			the queue.  A URL can only be added to the
			queue once.
			Duplicate URLs that have been successfully
			processed will be filtered on and not shown
			in the list.
		</p>
	</div>

</div>
</body>
</html>
